<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A computer vision tool for retailers to optimize store layouts.">
    <meta name="author" content="Duncan Mazza">
    <title>A Pedestrian Heatmap Utility</title>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>

<body class="text-center">
<div class="container d-flex p-3 mx-auto flex-column">
    <div id="childElement"></div>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Made with
                <svg width="14" height="12">
                    <path d="M1.014.994a3.335 3.335 0 0 0 0 4.789l5.982 5.884 5.99-5.877a3.334 3.334 0 0 0 0-4.789 3.49 3.49 0 0 0-4.88 0L7.002 2.083 5.894.995a3.49 3.49 0 0 0-4.88 0z"
                          fill="#EF0107" fill-rule="evenodd"></path>
                </svg>
                at Olin, by Michael, Nick, Gabriella, and Duncan.
            </p>
        </div>
    </footer>
</div>
<script>
    let i;
    for (i = {{ NUM_CAPS }}; i >= 0; i--) {
        // Create a new, plain <span> element
        var frame = document.createElement("div");
        var eye_str = '/' + i;
        frame.setAttribute('class', 'capture_div');
        frame.innerHTML = '<img src="' + eye_str + '" class="capture"/>';
        // Get a reference to the element, before we want to insert the element
        var sp2 = document.getElementById("childElement");
        // Get a reference to the parent element
        var parentDiv = sp2.parentNode;
        // Insert the new element into the DOM before sp2
        parentDiv.insertBefore(frame, sp2.nextSibling);
    }
</script>
<script src="{{ url_for('static', filename='capture.js') }}"></script>
</body>
</html>
