body {

}
header {
  font: bold 75pt tahoma;
  color: white;
  text-align: center;
  background: darkblue;
  box-shadow: 0px 0px 10px 10px darkblue;
  padding: 5rem;
  margin-bottom:1%;
}
div.body {
  background: lightblue;
  box-shadow: 0px 0px 10px 10px lightblue;
}
main{
  margin: 3% 10%;
}
h1 {
  font: bold italic 35pt tahoma;
}
p {
  font: 30pt tahoma;
  text-indent: 2em;
  padding-bottom:1em;
  margin:auto;
  width:95%;
}
nav {
  padding: 3rem;
  font: bold 30pt tahoma;
  color: black;
  text-align:center;
  display:flex;
  justify-content: space-evenly;
}
a.nav {
  text-decoration: none;
  font: inherit;
  color:inherit;
}
